.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;    
  font-weight: 300;
  line-height: 1.5;
  color: #3a1919;  
}

.header {
  padding-top: 45px;
  padding-bottom: 20px;
  background: #462828;
	height: 100px;
  
  }

.nav {
  display: flex;
  justify-content: space-between;
  

}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.nav-item{ 
   display: inline;
   list-style: none;
   font-size: 20px;
   margin-inline-start: 40px;
   margin-inline-end: 10px;
   padding-inline-start: 20px;  

}

.nav-link {
  color:antiquewhite;
  transition: .3s;
  text-decoration: none;
}

.nav-link:hover {
  color: bisque;
}


.container {
    display: flex;
    align-items: start;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFF;
    color: #3a1919
     
  }

  .main {
    
  }
  
  .about_me {
  text-align: center;
  }
  .code {
    color: #974e4e;
  }

  .footer {
    padding-top: 45px;
    padding-right: 50px;
    background: #462828;
	  height: 100px;
    
    }

    .rss {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      }

    .lost {
      list-style: none;
      
    }

    .github {
      color:antiquewhite;
      font-size: 20px;
      transition: .3s;
      text-decoration: none;
      
    }

    .github:hover {
      color: bisque;
    }
    
    .github:active {
      color: rgb(250, 203, 145);
    }







   
  

